In [1]:
import numpy as np
import pandas as pd

from statsmodels.stats.weightstats import ttest_ind

## Between Cost

In [8]:
df_cost_high = pd.read_csv("between_cost_high.csv")
df_cost_low = pd.read_csv("between_cost_low.csv")

In [9]:
df_cost_high.describe()

,Unnamed: 0,AnswerCount,CommentCount,Words_in_Title_Description,Tags_Count
count,916.000000,916.000000,916.000000,916.000000,916.000000
mean,3073.674672,2.814410,6.034934,68.373362,2.606987
std,1442.033756,5.651486,4.062205,40.758013,1.034126
min,21.000000,0.000000,0.000000,7.000000,1.000000
25%,1861.750000,1.000000,3.000000,39.000000,2.000000
50%,3110.000000,2.000000,5.000000,59.500000,2.000000
75%,4449.250000,3.000000,8.000000,87.000000,3.000000
max,4865.000000,97.000000,28.000000,330.000000,5.000000

In [10]:
df_cost_low.describe()

,Unnamed: 0,AnswerCount,CommentCount,Words_in_Title_Description,Tags_Count
count,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000
mean,2285.119433,2.038968,2.417763,182.339828,2.757844
std,1354.439878,1.450613,2.555349,169.843518,1.115372
min,0.000000,0.000000,0.000000,21.000000,1.000000
25%,1079.750000,1.000000,0.000000,91.000000,2.000000
50%,2269.500000,2.000000,2.000000,139.000000,3.000000
75%,3445.250000,3.000000,4.000000,216.000000,3.000000
max,4867.000000,18.000000,28.000000,3179.000000,5.000000

In [33]:
high_score  = df_cost_high["AnswerCount"]
low_score  = df_cost_low["AnswerCount"]

ttest = ttest_ind(high_score,low_score)
ttest

(7.6133994760382775, 3.187169782512283e-14, 4866.0)

In [34]:
high_score  = df_cost_high["CommentCount"]
low_score  = df_cost_low["CommentCount"]

ttest = ttest_ind(high_score,low_score)
ttest

(34.0239079319486, 8.152038577629137e-228, 4866.0)

In [35]:
high_score  = df_cost_high["Words_in_Title_Description"]
low_score  = df_cost_low["Words_in_Title_Description"]

ttest = ttest_ind(high_score,low_score)
ttest

(-20.17273180342851, 5.609288835762339e-87, 4866.0)

In [36]:
high_score  = df_cost_high["Tags_Count"]
low_score  = df_cost_low["Tags_Count"]

ttest = ttest_ind(high_score,low_score)
ttest

(-3.737975335938031, 0.000187637407469991, 4866.0)