In [1]:
import numpy as np
import pandas as pd

from statsmodels.stats.weightstats import ttest_ind

## Within Cost

In [15]:
df_cost_high = pd.read_csv("within_cost_high.csv")
df_cost_low = pd.read_csv("within_cost_low.csv")

In [17]:
df_cost_high.describe()

        Unnamed: 0  Ans_CommentCount  Words_in_Answer_Text  que_answer_ratio
count  3701.000000       3701.000000           3701.000000       3701.000000
mean   2158.601189          1.714672            133.325317          3.125372
std    1243.481689          3.803863            174.231792          2.518892
min       0.000000          0.000000             17.000000          0.000000
25%    1087.000000          0.000000             52.000000          1.000000
50%    2168.000000          0.000000             83.000000          2.000000
75%    3224.000000          2.000000            145.000000          4.000000
max    4333.000000         44.000000           3362.000000         22.000000

In [16]:
df_cost_low.describe()

        Unnamed: 0  Ans_CommentCount  Words_in_Answer_Text  que_answer_ratio
count   633.000000        633.000000            633.000000        633.000000
mean   2212.682464          1.290679             21.227488         22.988942
std    1295.867415          2.082368              7.414197          6.544265
min       5.000000          0.000000              5.000000          9.000000
25%    1037.000000          0.000000             16.000000         18.000000
50%    2165.000000          0.000000             21.000000         23.000000
75%    3362.000000          2.000000             26.000000         27.000000
max    4330.000000         14.000000             47.000000         53.000000

In [52]:
high_score  = df_cost_high["Ans_CommentCount"]
low_score  = df_cost_low["Ans_CommentCount"]

ttest = ttest_ind(high_score,low_score)
ttest

(2.734972555516067, 0.006263938265830667, 4332.0)

In [53]:
high_score  = df_cost_high["Words_in_Answer_Text"]
low_score  = df_cost_low["Words_in_Answer_Text"]

ttest = ttest_ind(high_score,low_score)
ttest

(16.18314594030475, 3.06979948927643e-57, 4332.0)

In [54]:
high_score  = df_cost_high["que_answer_ratio"]
low_score  = df_cost_low["que_answer_ratio"]

ttest = ttest_ind(high_score,low_score)
ttest

(-135.20384390757334, 0.0, 4332.0)