In [1]:
import numpy as np
import pandas as pd

from statsmodels.stats.weightstats import ttest_ind

## Between Value

In [2]:
df_high = pd.read_csv("between_value_high.csv")

In [3]:
df_low = pd.read_csv("between_value_low.csv")

In [5]:
df_low.describe()

,Unnamed: 0,Score,AnswerCount,ViewCount,FavoriteCount,CommentCount,Auth_reputation,Editor_reputation,Words_in_Title,Words_in_Title_Description,Accepted_Ans,Tags_Count,title_tag_ratio,Creation_Days,Last_Edit_Days,Last_Activity_Days,Closed_Days
count,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000,2551.000000
mean,2493.185809,3.811446,2.198354,2057.810662,1.273226,2.800470,10682.412779,92717.280674,9.007448,144.180321,0.696590,2.675813,33.181446,2241.177185,2425.308114,2495.981576,2267.072913
std,1415.374333,59.184743,1.792100,13543.717068,20.950779,3.077779,34778.496793,158209.794170,3.789297,149.166714,0.459821,1.061796,13.650927,1041.427312,1046.999039,1052.211079,1040.253220
min,0.000000,-9.000000,0.000000,8.000000,0.000000,0.000000,1.000000,1.000000,2.000000,7.000000,0.000000,1.000000,4.600000,91.000000,102.000000,262.000000,15.000000
25%,1194.000000,0.000000,1.000000,72.000000,0.000000,0.000000,117.000000,10319.500000,6.000000,68.000000,0.000000,2.000000,23.260000,1436.000000,1577.000000,1653.000000,1494.500000
50%,2605.000000,1.000000,2.000000,190.000000,0.000000,2.000000,1761.000000,27029.000000,8.000000,107.000000,1.000000,2.000000,32.100000,2106.000000,2397.000000,2469.000000,2402.000000
75%,3716.000000,2.000000,3.000000,920.500000,0.000000,4.000000,7908.000000,81039.000000,11.000000,171.000000,1.000000,3.000000,41.410000,3004.000000,3220.000000,3345.000000,3077.000000
max,4867.000000,2917.000000,44.000000,396394.000000,1025.000000,28.000000,498845.000000,965131.000000,41.000000,3179.000000,1.000000,5.000000,89.360000,4512.000000,4512.000000,4512.000000,4436.000000

In [6]:
df_high.describe()

,Unnamed: 0,Score,AnswerCount,ViewCount,FavoriteCount,CommentCount,Auth_reputation,Editor_reputation,Words_in_Title,Words_in_Title_Description,Accepted_Ans,Tags_Count,title_tag_ratio,Creation_Days,Last_Edit_Days,Last_Activity_Days,Closed_Days
count,2317.000000,2317.000000,2317.000000,2.317000e+03,2317.000000,2317.000000,2317.000000,2317.000000,2317.000000,2317.000000,2317.000000,2317.000000,2317.000000,2317.000000,2317.000000,2317.000000,2317.000000
mean,2367.786362,9.078981,2.170047,6.222947e+03,4.241692,3.426413,1544.654294,1763.552007,9.478636,179.297799,0.626241,2.788520,32.244359,2873.879586,3111.490721,3089.248597,1643.861027
std,1391.714004,169.943194,3.586761,5.929682e+04,121.677826,3.350348,15492.049442,5311.521558,4.041569,169.978857,0.483905,1.141987,13.301657,997.114380,885.278909,937.912699,990.184047
min,1.000000,-18.000000,0.000000,8.000000e+00,0.000000,0.000000,1.000000,1.000000,2.000000,12.000000,0.000000,1.000000,3.600000,54.000000,226.000000,280.000000,15.000000
25%,1243.000000,0.000000,1.000000,5.800000e+01,0.000000,1.000000,47.000000,43.000000,7.000000,82.000000,0.000000,2.000000,22.470000,2078.000000,2532.000000,2435.000000,853.000000
50%,2300.000000,0.000000,2.000000,1.220000e+02,0.000000,3.000000,263.000000,493.000000,9.000000,137.000000,1.000000,3.000000,31.170000,2933.000000,3220.000000,3158.000000,1578.000000
75%,3559.000000,2.000000,3.000000,5.960000e+02,0.000000,5.000000,986.000000,1917.000000,11.000000,219.000000,1.000000,4.000000,41.030000,3667.000000,3798.000000,3895.000000,2417.000000
max,4866.000000,7633.000000,97.000000,1.680785e+06,5799.000000,26.000000,498845.000000,133606.000000,30.000000,2476.000000,1.000000,5.000000,80.000000,4512.000000,4512.000000,4512.000000,4473.000000

In [16]:
high_score  = df_high["Score"]
low_score  = df_low["Score"]

ttest = ttest_ind(high_score,low_score)
ttest

(1.4704316015855183, 0.14150955389894504, 4866.0)

In [17]:
high_score  = df_high["AnswerCount"]
low_score  = df_low["AnswerCount"]

ttest = ttest_ind(high_score,low_score)
ttest

(-0.3530248309807448, 0.7240851164737954, 4866.0)

In [18]:
high_score  = df_high["ViewCount"]
low_score  = df_low["ViewCount"]

ttest = ttest_ind(high_score,low_score)
ttest

(3.450084410870172, 0.0005651719095948268, 4866.0)

In [19]:
high_score  = df_high["FavoriteCount"]
low_score  = df_low["FavoriteCount"]

ttest = ttest_ind(high_score,low_score)
ttest

(1.2125660204437088, 0.22535465312026173, 4866.0)

In [20]:
    high_score  = df_high["CommentCount"]
low_score  = df_low["CommentCount"]

ttest = ttest_ind(high_score,low_score)
ttest

(6.793899159443206, 1.2225422670842485e-11, 4866.0)

In [21]:
high_score  = df_high["Auth_reputation"]
low_score  = df_low["Auth_reputation"]

ttest = ttest_ind(high_score,low_score)
ttest

(-11.641446699442088, 6.494968780604629e-31, 4866.0)

In [22]:
high_score  = df_high["Editor_reputation"]
low_score  = df_low["Editor_reputation"]

ttest = ttest_ind(high_score,low_score)
ttest

(-27.658198387972227, 1.6251430910920618e-156, 4866.0)

In [23]:
high_score  = df_high["Words_in_Title"]
low_score  = df_low["Words_in_Title"]

ttest = ttest_ind(high_score,low_score)
ttest

(4.197642214912497, 2.745204854240118e-05, 4866.0)

In [24]:
high_score  = df_high["Words_in_Title_Description"]
low_score  = df_low["Words_in_Title_Description"]

ttest = ttest_ind(high_score,low_score)
ttest

(7.676201744378479, 1.967694493544003e-14, 4866.0)

In [26]:
high_score  = df_high["title_tag_ratio"]
low_score  = df_low["title_tag_ratio"]

ttest = ttest_ind(high_score,low_score)
ttest

(-2.4212841893267787, 0.015502120073607665, 4866.0)

In [27]:
high_score  = df_high["Creation_Days"]
low_score  = df_low["Creation_Days"]

ttest = ttest_ind(high_score,low_score)
ttest

(21.602149332685578, 6.653207488890173e-99, 4866.0)

In [28]:
high_score  = df_high["Last_Edit_Days"]
low_score  = df_low["Last_Edit_Days"]

ttest = ttest_ind(high_score,low_score)
ttest

(24.56396404444348, 1.0495773418483097e-125, 4866.0)

In [29]:
high_score  = df_high["Last_Activity_Days"]
low_score  = df_low["Last_Activity_Days"]

ttest = ttest_ind(high_score,low_score)
ttest

(20.684057909824315, 3.638018273999842e-91, 4866.0)

In [30]:
high_score  = df_high["Closed_Days"]
low_score  = df_low["Closed_Days"]

ttest = ttest_ind(high_score,low_score)
ttest

(-21.358611945461544, 7.991826081412619e-97, 4866.0)